<link rel="stylesheet" href="/css/login.css">

<div class="container">
<div class="form">

    <div class="center-align">
        <h1>login.</h1>
        <p>returning to the site? come on in</p>
    </div>
    
    <div class="row">
        <form class="col s12" method="POST" action='/auth/login'>
            <div class="row">
                <div class="input-field col s6">
                    <input id="email" type="text" name="email">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s6">
                    <input id="password" type="password" name="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row center-align">
                <div class="col s12">
                    <button class="btn waves-effect waves-light text" type="submit" name="action">enter
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

</div>