<footer class="page-footer cyan darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Aloe there!</h5>
        <p class="grey-text text-lighten-4">We be-leaf this community can help with all your plant care needs!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a href="/" class="white-text">Home</a></li>
            <% if (currentUser) { %>
            <li>
                <a href="/profile/user" class="white-text">My Profile</a>
            </li>
            <% if (currentUser.admin) { %>
            <li>
                <a href="/profile/admin" class="white-text">Admin Page</a>
            </li>
            <% } %>
            <li>
                <a href="/auth/logout" class="white-text">Logout</a>
            </li>
            <% } else { %>
            <li>
                <a href="/auth/login" class="white-text">Login</a>
            </li>
            <li>
                <a href="/auth/signup" class="white-text">Sign Up</a>
            </li>
            <% } %>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <div class="footer-copyright">
    <div>&nbsp&nbsp &copy; Sharon Lee </div>
  </div>

</footer>