<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l-6 sm-12">
        <h5 class="white-text serif">aloe there</h5>
        <p class="grey-text text-lighten-4">a local plant swap & resource community.</p>
      </div>
      <div class="col l-4 offset-l2 sm-12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a href="/" class="white-text">home</a></li>
            <% if (currentUser) { %>
            <li>
                <a href="/profile/user" class="white-text">my profile</a>
            </li>
            <li>
              <a href="/plantopedia" class="white-text">plantopedia</a>
          </li>
            <% if (currentUser.admin) { %>
            <li>
                <a href="/profile/admin" class="white-text">admin page</a>
            </li>
            <% } %>
            <li>
                <a href="/auth/logout" class="white-text">logout</a>
            </li>
            <% } else { %>
            <li>
                <a href="/auth/login" class="white-text">login</a>
            </li>
            <li>
                <a href="/auth/signup" class="white-text">sign up</a>
            </li>
            <% } %>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <div class="footer-copyright">
    <div>&nbsp&nbsp &copy; Sharon Lee </div>
  </div>

</footer>