<style>
    body {
        background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/snakeplant.jpeg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1, p {
        color: white;
    }

    h1 {
        margin-top: 10%;
    }
</style>
<div class="whole">
    <%- include('./partials/nav') %>
    <div class="container">
        <h1>404: NOT FOUND</h1>
        <p>Prickle my fancy. We seem to have lost our pot. </p>
    </div>
</div>