<div class="hero-image">
    <div class="hero-txt vertical-align center-align">
        <h1>aloe there.</h1>
        <p>a seed of hope, a sprinkle of love & a ray of sunshine to make your plants bloom.</p>
        <a class="btn sign-up" href="/auth/signup">Sign Up</a>
    </div>
</div>