.btn {
    margin: 5px;
}
body {
    background-image: linear-gradient(rgb(0,0,0,0.4), rgba(0,0,0,0.4)), url(../assets/eco-warrior-princess-TsOeGUwWzWo-unsplash.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    background-color: rgba(206, 228, 225, 0.7);
    margin-top: 5%;
    padding: 20px !important;
}