body {
    background-image: linear-gradient(rgb(0,0,0,0.2), rgba(0,0,0,0.2)), url(../assets/cactus.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.badge {
    color: white !important;
}