body {
    background-image: linear-gradient(rgb(0,0,0,0.4), rgba(0,0,0,0.4)), url(../assets//monster_unsplash.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar-fixed, nav {
    background-color: rgba(0,0,0,0.8);
}
.field::placeholder, 
#autocomplete::placeholder, 
#autocomplete, 
input-field, 
button, input, label {
    font-family: serif;
    color: black;
}

.form{
    padding: 30px;
    margin-top: 15%;
   background-color: rgba(206, 228, 225, 0.7);
}

.title {
    color: white;
}