body {
    background-image: linear-gradient(rgb(0,0,0,0.4), rgba(0,0,0,0.4)), url(../assets//monster_unsplash.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.field::placeholder, 
#autocomplete::placeholder, 
#autocomplete, 
input-field, 
input, label {
    font-family: serif;
    color: black !important;
}
button {
    font-family:serif;
}

form{
    padding: 20px !important;
    background-color: rgba(206, 228, 225, 0.7);
    margin-bottom: 5%;
}

.title {
    color: white;
}
.row {
    line-height: 1.2em;
    padding: 0;
    margin: 0 !important;
}