html, body {
    padding: 0;
    margin: 0;
    font-family: serif;
    background-color: rgba(0,0,0,0.1);    
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    font-family: serif;
  }
  
.circle {
  height: 50%;
  width: 50%;
}

.round-square {
  border-radius: 25px;
}
#top-round {
  border-radius: 25px 25px 0 0;
}

.page-footer {
  background-color: rgba(0,0,0,0.7);
}
.footer-copyright {
  background-color: black;
}

.btn {
  text-transform: none !important;
}

p, .btn {
  font-size: 1.2em;
}

.wrapper {
  margin-top: 10%;
}
 /* SIDE NAV STYLES */
.sidenav-trigger{
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 1em;
  
}

.sidenav-trigger i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5em;
}


/* ALERTS USING MATERIALIZE CHIPS */
.flash_message {
  position: fixed;
  z-index: 99999;
  min-width: 88%;
}
.alert {
  padding: 0;
  margin: 0 auto;
}

.chip_message_alert,
.chip_message_success {
  text-align: center;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  min-width: 88%;
  min-height: 50px;
  font-size: 1em;
  color: white;
}

.chip_message_success {
  background-color: #80cbc4 !important;
  
}

.chip_message_alert {
  background-color: #ef9a9a !important;
  }

.user-view {
  height: 15vh;
  opacity: 90%;
}