html, body {
    padding: 0;
    margin: 0;
    font-family: serif;

    
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    font-family: serif;
  }
  
.circle {
  height: 50%;
  width: 50%;
}

.round-square {
  border-radius: 25px;
}
#top-round {
  border-radius: 25px 25px 0 0;
}

.page-footer {
  background-color: rgba(0,0,0,0.7);
}
.footer-copyright {
  background-color: black;
}

.btn {
  text-transform: none !important;
}

p, .btn {
  font-size: 1.5em;
}

.wrapper {
  margin-top: 10%;
}

.sidenav-trigger{
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 1em;
  
}

.sidenav-trigger i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.5em;
}